HOST=127.0.0.1
PORT=3000
WOOVI_APP_ID=SEU_APP_ID_DO_SANDBOX
WOOVI_BASE_URL=https://api.woovi-sandbox.com
DATABASE_URL=
WEBHOOK_HMAC_SECRET=
WOOVI_WEBHOOK_IP_ALLOWLIST=179.190.27.5,179.190.27.6,186.224.205.214
